# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env
.venv
*.env

# --- Dependências e Build ---
.eggs/
*.egg-info/
*.egg
dist/
build/
develop-eggs/
parts/
sdist/
var/
wheels/
*.manifest
*.spec

# --- IDEs e Editores ---
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# --- Banco de Dados e Logs ---
*.sqlite3
*.log
db.sqlite3
